---
import { actions } from 'astro:actions'
import BaseLayout from '~/layouts/BaseLayout.astro'

const { session } = Astro.locals

if (!session) {
  return Astro.redirect('/')
}
---

<BaseLayout title='Journal'>
  <h1>Journal</h1>
  <form method='POST' action={actions.logout}>
    <button aria-label='Logout from your account'>Logout</button>
  </form>
  <a href='/' aria-label='Go back to the home page'>Go home</a>

  <ul
    class='max-w-screen-sm sm:mx-auto md:relative md:my-12 md:max-w-screen-sm md:space-y-10 md:border-l-2 md:border-sky-500/50 md:pb-4 md:pl-7 lg:max-w-screen-md'
  >
    <li
      class='mt-4 space-y-6 md:relative md:before:absolute md:before:-left-4 md:before:-top-0 md:before:size-4 md:before:-translate-x-5 md:before:translate-y-4 md:before:transform md:before:rounded-full md:before:border-2 md:before:border-sky-500 md:before:bg-zinc-900 md:before:p-1 lg:space-y-6'
    >
      <time
        class='mx-auto flex justify-center text-3xl leading-normal text-sky-400 md:justify-start'
        datetime='2024-09-30'
        ><span class='hidden md:inline md:pr-2'>Week 40:</span>September 30th, 2024</time
      >
      <ul class='space-y-10 p-0'>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-1'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-09-30' class='text-balance text-zinc-400'>2024-09-30</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Javascript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Prisma</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>React</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-2'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-01' class='text-balance text-zinc-400'>2024-10-01</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Javascript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Prisma</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>React</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-3'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-02' class='text-sm text-zinc-400'>2024-10-02</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Javascript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Typescript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li
      class='mt-4 space-y-6 md:relative md:before:absolute md:before:-left-4 md:before:-top-0 md:before:size-4 md:before:-translate-x-5 md:before:translate-y-4 md:before:transform md:before:rounded-full md:before:border-2 md:before:border-sky-500 md:before:bg-zinc-900 md:before:p-1 lg:space-y-6'
    >
      <time
        class='mx-auto flex justify-center text-3xl leading-normal text-sky-400 md:justify-start'
        datetime='2024-10-07'
        ><span class='hidden md:inline md:pr-2'>Week 41:</span>October 7th, 2024</time
      >
      <ul class='space-y-10 p-0'>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-3'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-07' class='text-balance text-zinc-400'>2024-10-07</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Prisma</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>React</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-2'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-08' class='text-balance text-zinc-400'>2024-10-08</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-1'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-09' class='text-balance text-zinc-400'>2024-10-09</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>

                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>TypeScript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li
      class='relative mt-4 space-y-6 md:relative md:before:absolute md:before:-left-4 md:before:-top-0 md:before:size-4 md:before:-translate-x-5 md:before:translate-y-4 md:before:transform md:before:rounded-full md:before:border-2 md:before:border-sky-500 md:before:bg-zinc-900 md:before:p-1 lg:space-y-6'
    >
      <time
        class='mx-auto flex justify-center text-3xl leading-normal text-sky-400 md:justify-start'
        datetime='2024-10-14'
        ><span class='hidden md:inline md:pr-2'>Week 42:</span>October 14th, 2024</time
      >
      <ul class='space-y-10 p-0'>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-2'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-20' class='text-balance text-zinc-400'>2024-10-20</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>TypeScript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Redwood</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-2'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-21' class='text-balance text-zinc-400'>2024-10-21</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>TypeScript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Prisma</li>
              </ul>
            </div>
          </a>
        </li>
        <li class='bg-zinc-800 p-4 sm:rounded-lg'>
          <a href='/journal/article-3'>
            <h2 class='text-2xl font-semibold leading-relaxed'>Build a multiple files uploader</h2>
            <p class='line-clamp-1 text-balance text-xl leading-relaxed text-zinc-200'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum officiis ducimus
              nostrum dolor atque, eveniet aliquid maiores asperiores soluta ut, corrupti voluptates
              dolores et magni rem repellat id recusandae.
            </p>
            <div
              class='flex flex-col space-y-4 py-4 sm:flex-row sm:items-center sm:justify-start sm:gap-8 sm:space-y-0'
            >
              <time datetime='2024-10-22' class='text-balance text-zinc-400'>2024-10-22</time>
              <ul class='flex flex-wrap gap-4 sm:w-fit sm:flex-nowrap sm:overflow-hidden'>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>TypeScript</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Tailwind</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Prisma</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>React</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Redwood</li>
                <li class='w-fit rounded-md bg-sky-700 px-2 py-1 text-xs md:text-sm'>Astro</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</BaseLayout>
