---
import { actions } from 'astro:actions'
import BaseLayout from '~/layouts/BaseLayout.astro'

const { session } = Astro.locals

if (session) {
  return Astro.redirect('/journal')
}
---

<BaseLayout title='Journal'>
  {
    session && (
      <form method='POST' action={actions.logout}>
        <button>Logout</button>
      </form>
    )
  }
  <div class='m-auto flex flex-col items-center justify-center gap-8 py-4 sm:gap-10'>
    <h1
      class='text-center text-2xl font-bold leading-tight text-orange-400 md:text-4xl lg:text-6xl'
    >
      Ready to Capture Your Story?
      <span
        class='mt-4 block text-xl leading-relaxed text-zinc-100 md:text-3xl md:text-orange-400 lg:text-5xl'
      >
        Start Your Writing Journey Today!
      </span>
    </h1>
    <section
      class='grid max-w-lg gap-4 bg-zinc-800 p-6 text-xl leading-relaxed sm:max-w-xl md:my-8 md:max-w-2xl md:space-y-4 md:rounded-lg lg:max-w-4xl'
    >
      <p>Every moment is worth documenting. What will you write today?</p>
      <p>
        Discover a space where you can express yourself freely and document your life's journey.
      </p>
      <p>
        Join our platform and create your own journal to capture your thoughts, passions,
        experiences, and lessons learned.
      </p>
      <p>
        With an easy-to-use interface and the ability to share your journal with friends, you can
        inspire others while reflecting on your growth.
      </p>
    </section>
    <a
      href='/login'
      class='rounded-md bg-orange-400 px-4 py-2 text-xl font-semibold text-zinc-900 outline-none ring-offset-4 hover:bg-orange-400/90 hover:ring-2 hover:ring-orange-400/90 hover:ring-offset-zinc-900 focus:bg-orange-400/90 focus:ring-2 focus:ring-orange-400/90 focus:ring-offset-zinc-900 sm:text-2xl md:px-10 md:py-6 lg:text-4xl'
      >Start Your Journey!</a
    >
  </div>
</BaseLayout>
